html{
  font-family:"Montserrat", sans-serif;
  scroll-behavior: smooth;
}


:root{
  --background-color: #f5f5f4;
  --foreground-color: #fafaf9;
  --divider-color: #d6d3d1;
  --text-color: #57534e;
  --title-color: #0c0a09;
  --subtitle-color: #292524;
  --tint-color: #9333ea;
  --tint-text-color: #e9d5ff;
  --foreground-dark-color: #d6d3d1;
}



html{
  color: var(--text-color);
}

